.country {
  width: 50%;
  height: 400px;
  background-color: white;
  z-index: 100;
  position: relative;
  left: 25%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.choose_country {
  position: relative;
  top: 20px;
}
