@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  background-color: rgb(250, 250, 250);
  /* background-color: black; */
}
* {
  margin: 0;
  padding: 0;
}

:root {
  --red: rgb(255, 97, 97);
  --yellow: rgb(255, 255, 136);
}
