@media (min-width: 1520px) {
  .newPizzaExample {
    top: -41.5vh;
  }
  .pizza_example {
    height: 480px;
  }
  .pricePizzaExample {
    top: 8.9vh;
  }
}

@media (max-width: 1720px) {
  .newPizzaExample {
    top: -34.5vh;
  }
  .pizza_example {
    height: 470px;
  }
  .pricePizzaExample {
    top: 8.4vh;
  }
}
