.pizza {
  position: relative;
  left: 9%;
  width: 80%;
  top: 50px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}

.what_pizza {
  background-color: inherit;
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.what_pizza:focus {
  color: var(--red);
  background-color: white;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

.focus_pizza {
  color: var(--red);
  background-color: white;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

.pizza_list {
  width: 83%;
  position: relative;
  top: 90px;
  left: 10%;
  display: flex;
  flex-wrap: wrap;
}

.pizza_example {
  width: 22%;
  height: 360px;

  position: relative;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  margin-right: 2%;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: 0.2s ease;
  cursor: pointer;
}

.pizza_example:hover {
  transform: scale(1.02);
}

/* @media (min-width: 1908px) {
  .pizza_list {
    width: 70%;
  }
  .pizza_example {
    width: 20%;
    left: 15%;
  }
} */
