.often {
  width: 83%;
  position: relative;
  top: 90px;
  left: 10%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: center;
}

.oftenText {
  font-weight: 800;
  font-size: 23px;
}
