.header {
  height: 55px;
  /* border-bottom: 1px solid black; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.logo {
  position: relative;
  left: 15%;
  width: 10%;
}

.logo_red {
  color: var(--red);
}

.logo_yellow {
  color: var(--yellow);
}

.adress {
  position: relative;
  display: flex;
  flex-direction: column;
  top: -35px;
  left: 60%;
  width: 13%;
  background-color: inherit;
  cursor: pointer;
  border: none;
}

.for_adress {
  font-size: 12px;
  margin-top: 3px;
  color: grey;
}

.new_adress {
  font-size: 15px;
  color: black;
}

.what_you_want {
  position: relative;
  width: 100%;
  height: 35px;
  top: 5px;
  /* left: 73%; */
  background-color: var(--red);
  border: none;
  border-radius: 15px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.but {
  position: relative;
  top: -75px;
  left: 73%;
  width: 10%;
}
.what_you_want.active {
  background-color: var(--yellow);
}

.basket {
  position: relative;
  /* width: 20%; */
  left: 7%;
  height: 80%;
  transition: transform 0.3s ease;
}
.basket.active {
  left: 75%;
}
.or_or {
  position: relative;
  background-color: white;
  border: none;
  width: 60%;
  height: 70%;
  left: 13%;
  border-radius: 15px;
  transition: transform 0.3s ease;
  cursor: pointer;
  font-size: 12px;
}

.or_or.active {
  transform: translateX(-37%);
}

.enter {
  position: relative;
  top: -105px;
  left: 84%;
  height: 35px;
  width: 5%;
  background-color: #0073ab;
  border: none;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.popup_container {
  position: fixed;
  z-index: 10;
  background-color: white;
  width: 30%;
  left: 35%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */

  /* text-align: center; */
  height: 220px;
  border-radius: 10px;
  top: 30%;
  /* box-shadow: 0px 0px 1000px 0px var(--yellow); */
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* z-index: 10; */
  width: 100%;
  border-radius: 10px;
  background-color: white;
  height: 220px;
}

.register_form {
  position: relative;
  /* margin-bottom: 20px; */
  /* left: 15%; */
  top: -5px;
  /* width: 70%; */
  height: 20px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid black;
  outline: none;
  /* z-index: 10; */
}

.close_button {
  position: relative;
  width: 5%;
  top: -88px;
  left: 40%;
  font-size: 20px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.r_f {
  position: relative;
  top: -30px;
}

.submit {
  position: relative;
  width: 40%;
  /* left: 30%; */
  top: 30px;
  height: 25px;
  cursor: pointer;
  background-color: inherit;
  border: 1px solid black;
  border-radius: 2px;
}

.custom-container {
  width: 100%;
  margin-bottom: 16px;
  border-bottom: none;
  position: relative;
  /* left: 13%; */
}

.react-tel-input .flag-button {
  display: none;
}

.custom-input {
  width: 50%;
  /* padding: 8px 0; */
  margin: 0;
  border: none;
  border-bottom: none;
  outline: none;
  font-weight: 900;
  position: relative;
  /* left: -10%; */
}

.react-tel-input .flag-dropdown {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 136, 0.5);
  z-index: -1;
}

.overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 136, 0.5);
  z-index: 10;
}

.closeAdress {
  position: relative;
  z-index: 11;
  background-color: inherit;
  border: none;
  left: 50%;
  width: 5%;
}

.handleAdressClose {
  position: relative;
  z-index: 101;
  background-color: inherit;
  top: 60px;
  border: none;
  left: 67%;
  width: 1%;
  font-size: 20px;
  height: 25px;
  cursor: pointer;
}
